/*The visible portion of the header should have a height of 400px and be 100% the width of its parent container
The avatar should be centered vertically and horizontally (Hint: the justify-content and align-items properties are helpful for centering things if you're using Flexbox.)
The name should be centered below the avatar
The background-color should be a different colour than the nav and the body*/

.header {
  height: 700px;
  width: 100%;
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans Pro";
  color: aliceblue;
  font-weight: bolder;
  align-items: center;
  background-color: #003447;
  background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
}

.header {
  font-family: "Raleway", sans-serif;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .header {
    margin-bottom: 5%;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    height: 20%;
    width: 33.3%;
    margin: 15%;
    margin-left: 3%;
    margin-right: 3%;
  }

  .header:after {
    background-color: #003447;
    background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
    color: aliceblue;
  }
}
