#tweets-container {
  display: flex;
  flex-direction: column;
  padding-left: 6%;
  padding-right: 6%;
}

.tweet {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
  border: solid #000;
  border-radius: 7px;
}
.tweet header div {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  margin-left: 10px;
}
.tweet div h4 {
  margin-left: 15px;
}

.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.tweet p {
  align-self: center;
  font-family: "Source Sans Pro";
  font-weight: bold;
  width: 95%;
  font-size: 14pt;
  padding: 1em;
  border-bottom: solid;
  word-wrap: break-word;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  height: 3em;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 650;
}

.user {
  color: #948d8d;
  visibility: hidden;
}
.tweet:hover .user {
  visibility: visible;
}

.fa-light {
  padding-right: 1.5em;
  padding-left: 0.5em;
}
.fa-light:hover {
  color: rgb(255, 145, 0);
}

.fa-flag:hover {
  color: rgb(255, 145, 0);
}
.fa-retweet:hover {
  color: rgb(86, 233, 0);
}
.fa-heart:hover {
  color: red;
}

article.tweet:hover {
  box-shadow: 8px 8px #dadcea;
}
